rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow public read access to everyone
      allow read: if true;
      // Only allow you to upload/delete (using your login)
      allow write: if request.auth != null;
    }
  }
}